In [44]:
!pip install Faker
!pip install names-dataset
import numpy as np
import pandas as pd
from faker import Faker
from names_dataset import NameDataset

Requirement already satisfied: Faker in /home/arash/.local/lib/python3.8/site-packages (14.2.0)
Requirement already satisfied: python-dateutil>=2.4 in /home/arash/.local/lib/python3.8/site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.4->Faker) (1.14.0)
Requirement already satisfied: names-dataset in /home/arash/.local/lib/python3.8/site-packages (3.1.0)
Requirement already satisfied: pycountry in /home/arash/.local/lib/python3.8/site-packages (from names-dataset) (22.3.5)
Requirement already satisfied: setuptools in /usr/lib/python3/dist-packages (from pycountry->names-dataset) (45.2.0)

## Producing Fake names' generators

In [4]:
en_fake = Faker()
fa_fake = Faker('Fa')

## Loading name dataset

In [6]:
# This line takes time some time as the database is massive.
nd = NameDataset()

In [12]:
nd.search('ali')

{'first_name': {'country': {'United Arab Emirates': 0.037,
   'Algeria': 0.054,
   'Egypt': 0.149,
   'Iraq': 0.142,
   'Iran, Islamic Republic of': 0.052,
   'Morocco': 0.079,
   'Saudi Arabia': 0.146,
   'Syrian Arab Republic': 0.05,
   'Tunisia': 0.04,
   'Turkey': 0.25},
  'gender': {'Female': 0.058, 'Male': 0.942},
  'rank': {'United Arab Emirates': 5,
   'Algeria': 5,
   'Egypt': 13,
   'Iraq': 7,
   'Iran, Islamic Republic of': 1,
   'Morocco': 21,
   'Saudi Arabia': 9,
   'Syrian Arab Republic': 6,
   'Tunisia': 3,
   'Turkey': 4}},
 'last_name': {'country': {'United Arab Emirates': 0.094,
   'Egypt': 0.233,
   'India': 0.026,
   'Iraq': 0.109,
   'Kuwait': 0.034,
   'Malaysia': 0.025,
   'Oman': 0.056,
   'Saudi Arabia': 0.354,
   'Sudan': 0.033,
   'Syrian Arab Republic': 0.036},
  'gender': {},
  'rank': {'United Arab Emirates': 2,
   'Egypt': 5,
   'India': 10,
   'Iraq': 4,
   'Kuwait': 2,
   'Malaysia': 10,
   'Oman': 2,
   'Saudi Arabia': 2,
   'Sudan': 11,
   'Syrian Arab Republic': 5}}}

In [51]:
def make_name(number, fa_den= 0.9):
    """
    This function generate an Iranian name in 50% of the times and
    an English name in the other 50% of the times.
    """
    output=[]
    for i in range(number):
        if np.random.rand() < fa_den:
            output.append(en_fake.name())
        else:
            output.append(fa_fake.name())
    return output

In [52]:
make_name(10, 0.5)

['زينب تهرانی',
 'مهدی اشرفی',
 'عسل گلپایگانی',
 'زینب نعمتی',
 'Elizabeth Rivera',
 'معصومه روحانی',
 'Stephen Aguirre',
 'الينا محجوب',
 'Jeffrey Shaw',
 'ريحانه میردامادی']

## Making dataframe

In [55]:
df = pd.DataFrame(make_name(10,0.5), columns=['Name'])
df

                           Name
0  جناب آقای دکتر محمدعلي ضابطی
1                   پارسا عزیزی
2               John Rosario II
3                    Ivan Frost
4                Erica Martinez
5                مهدیس سرخوشیان
6                Emily Mccarthy
7                Amanda Sanders
8                    Robin Rush
9                 Richard Lewis

AttributeError: module 'pandas' has no attribute 'random'